<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMS</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="main">
            <header>
                <div class="head">
                    <h1>Employee Management System</h1>
                </div>
            </header>
            <div class="sidebar">
                <div class="nav">
                    <div>
                        <ul>
                            <li>Dashboard</li>
                            <li>Employee</li>
                            <li>Customer</li>
                            <li>Profile</li>
                            <li>Settings</li>
                        </ul>
                    </div>
                    <div class="btn">
                       <div>
                            <i class='bx bx-right-arrow-alt'></i>
                       </div>
                       <div>
                            <button>Log Out</button>
                       </div>
                    </div>
                </div>
                <div class="dashboard">
                    <div class="dash">
                        <h2>Employee Details</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>