<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMS Register</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="head">
                <h1>Employee Management System</h1>
            </div>
            <div class="first">
                <div class="login">
                    <form action="">
                        <div>
                            <input type="number" placeholder="Enter Your ID">
                        </div>
                        <div>
                            <input type="text" placeholder="Enter Your Name">
                        </div>
                        <div>
                            <select name="" id="">
                                <option value="None">None</option>
                                <option value="Admin">Admin</option>
                                <option value="User">User</option>
                            </select>
                        </div>
                        <div>
                            <button></button>
                        </div>
                    </form>
                </div>
                <div class="stirage">

                </div>
            </div>
        </div>
    </div>
</body>
</html>
