<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Management System</title>
  </head>
  <body>
    <div class="container">
      <div class="main">
        <div class="first">
          <h1>Employee Management System</h1>
        </div>
        <div class="second">
          <div class="login">
            <form action="">
              <h1>Register</h1>
              <div class="in">
                <input type="Number" placeholder="Enter Your ID "[(ngModel)]="id" name="id" />
              </div>
              <div class="in">
                <input type="text" placeholder="Enter the Name  " [(ngModel)]="name" name="name" />
              </div>
              <div class="in">
                <input type="email" placeholder="Enter the Email  " [(ngModel)]="email" name="email" />
              </div>
              <div class="in">
                <select name="" id="" placeholder="none" [(ngModel)]="select" name="select">
                  <option value="Select Option">Select Option</option>
                  <option value="none">None</option>
                  <option value="Admin">Admin</option>
                  <option value="User">User</option>
                </select>
              </div>
              <div class="in">
                <input type="password" placeholder="Password" [(ngModel)]="password"  name="password" />
              </div>
              <div class="in">
                <input type="password" placeholder="Confirm Password  " />
              </div>
              <div class="in but">
                <button (click)="display()">Save</button>
                <button>Update</button>
                <button>Delete</button>
                <button>Find</button>
                <button>Find All</button>
              </div>

            </form>
          </div>
        </div>
      </div>
      <div style="display: flex;
      flex-direction: column;align-items: center;justify-content: center;">
        <div style="border: 2px solid #333; height: 20vh;width: 30vw;padding: 20px;">
        <p>ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : {{displayid}}</p>
        <p>NAME&nbsp;&nbsp;&nbsp; : {{displayname}}</p>
        <p>EMAIL&nbsp;&nbsp; : {{displayemail}}</p>
        <p>OPTION : {{displayselect}}</p>
        </div>
      </div>
    </div>

  </body>
</html>
