<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Management System</title>
  </head>
  <body>
    <div class="container">
      <div class="main">
        <div class="first">
          <h1>Employee Management System</h1>
        </div>
        <div class="second">
          <div class="login">
            <form action="">
              <h1>Login</h1>
              <div class="in">
                <input type="Number" placeholder="Enter Your ID " />
              </div>
              <div class="in">
                <input type="text" placeholder="Enter the Name  " />
              </div>
              <div class="in">
                <input type="number" placeholder="Enter Salary  " />
              </div>
              <div class="in but">
                <button class="btn btn-success">Save</button>
                <button class="btn btn-success">Update</button>
                <button class="btn btn-success">Delete</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
