<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EMS</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="head-main">
            <div class="head">
                <div>
                    <h1>Employee Management System</h1>
                </div>
                <div>
                    <button><a routerLink="login">Sign In</a></button>
                </div>
            </div>
            <div class="main">
                <div class="first">
                    <h1>EMS</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores
                        aut impedit quisquam molestiae et ea itaque temporibus, laborum,
                        explicabo a accusamus. Velit dolores alias culpa repellendus nisi
                        tempora magni maxime. Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Beatae aspernatur esse, deserunt quis repudiandae
                        commodi reiciendis modi fugiat quaerat harum ut unde eos, ab error
                        sapiente delectus expedita! Temporibus, fugit. Lorem ipsum dolor,
                        sit amet consectetur adipisicing elit. Optio asperiores aliquam, rem
                        veniam error dolor repudiandae necessitatibus ullam nostrum, unde
                        deserunt quos. Illum, nam. Vel dolores perspiciatis sint temporibus
                        voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Reprehenderit quam voluptatibus necessitatibus omnis, autem quo et
                        quis assumenda perspiciatis minus non. Commodi rem distinctio sed
                        architecto minus dolorem cum ducimus!
                    </p>
                </div>
                <div class="second">
                    <img src="images.jpg" alt="" style="width: 350px; height: 350px;border: 2px solid gray;border-radius: 50%;">
                </div>
            </div>
        </div>
    </div>
</body>

</html>